
:root {
    --cor-primaria: #6e0497;
    --cor-secundaria: #54a1f3;
    --cor-fundo: #ffffff;
    --cor-texto: #818533;
    --cor-contraste: #ffdd00;
    --cor-botao: #f9f9f9;

    --fonte-texto: 'Segoe UI', sans-serif;
}

* {
    transition: background-color 0.8s ease;
}

.tema-escuro {
    --cor-primaria: #d36cfc;
    --cor-secundaria: #3c0054;
    --cor-fundo: #380049;
    --cor-texto: #ffffff;
    --cor-contraste: #fff200;
    --cor-botao: #3f0061;
}

.tema-escuro p {
    color: var(--cor-texto);
}

.tema-escuro header p {
    color: var(--cor-contraste);
    font-weight: 600;
}

.tema-escuro a {
    color: var(--cor-secundaria);
}

.tema-escuro button {
    border: none;
    background-color: var(--cor-botao);
    color: var(--cor-texto);
}

.tema-escuro article {
    background-color: #f7eeee0c;
}

.tema-escuro h2 {
    color: var(--cor-primaria);
}

.tema-escuro .artigo-autor {
    color: var(--cor-secundaria);
}

.tema-escuro .btn-tema-escuro {
    background-color: var(--cor-secundaria);
}

body {
    max-width: 100vw;
    font-family: var(--fonte-texto);
}

header {
    background-color: var(--cor-primaria);
    color: var(--cor-contraste);
    text-align: center;
    margin: 0 auto;
    padding: 16px;
}

main {
    background-color: var(--cor-fundo);
    color: var(--cor-primaria);
    margin: 0 auto;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
}

article {
    display: flex;
    box-shadow: 2px 2px 10px rgba(255, 238, 0, 0.838);
    margin: 16px;
    gap: 16px;
    padding: 16px;
    flex: 1 1 25%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
}

img {
    width: 45%;
    height: 45%;
    border-radius: 8px;
}

.autor {
    font-weight: bold;
}

.btn-tema-escuro {
    position: fixed;
    bottom: 16px;
    right: 16px;
    font-size: 32px;
    padding: 12px;
    background-color: var(--cor-primaria);
    border-radius: 50%;
}
footer{
    background-color: var(--cor-primaria);
    color: var(--cor-contraste);
    text-align: center;
    margin: 0 auto;
    padding: 16px;
